<div class="d-flex justify-content-center align-items-center" style="height: 80vh">
  <div style="max-width: 365px">
    <h5>Login</h5>
    <%= render "form", user: @user %>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
