<p style="color: green"><%= notice %></p>


<div id="doctors" class="m-auto">
  <h5 class='mt-5 ms-3 mb-3'><%= image_tag 'stethoscope.svg', class: 'me-2' %>My Doctors</h5>
  <div class="d-flex flex-wrap justify-content-center">
    <%= render partial: "doctor", collection: @doctors %>

  </div>
</div>
