<p style="color: green"><%= notice %></p>

<h2 class="text-center mt-5 mb-4"> My Appointments</h2>

<div id="appointments">
  <% if !@appointments.empty? %>
    <% @appointments.each do |appointment| %>
      <%= render appointment %>
    <% end %>
  <% else %>
    <p class="w-100 text-secondary text-center">No appointments yet !!</p>
  <% end %>
</div>