<p style="color: green"><%= notice %></p>

<h2 class="text-center mt-5 mb-4"> My Appointments</h2>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
  <% end %>
</div>

<%= link_to "New appointment", new_appointment_path %>
