<nav>
  <div class="row h-100 align-items-center justify-content-between justify-content-sm-center">
    <div class="col-3 col-md-2 text-end">
      <a href="/" class="text-decoration-none text-black"><strong class="fs-5">Medi App</strong></a>
    </div>
    <div class="col-6">
      <span class="d-none d-md-inline me-3">|</span>
      <%= image_tag 'calender.svg', class: 'mr-1' %>
      <span class="d-inline-block ms-1">My Appointments</span>
    </div>
  </div>
</nav>